body {
    background-image: url("../images-videos/Goose_Light.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.mainWindow {
    border: 5px solid black;
    border-radius: 10px;
    width: 10cm;
    margin: auto;
    margin-top: 3vw;
    text-align: center;
    padding-bottom: 2px;
    background: rgba(255, 255, 255, 0.69);
    color: rgb(255, 255, 255);
}

.dark {
    background-image: url("../images-videos/Goose_Dark.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    transition: background 1s;
}

.light {
    background-image: url("../images-videos/Goose_Light.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    transition: background 1s;    
}

.heading {
    color: black;
    border: solid 2px rgb(0, 6, 127);
    width: 5cm;
    margin: auto;
    margin-top: 1cm;
    background-color: rgba(1, 213, 255, 1);
}

h4 {
    float: left;
    margin-left: 40px;
    margin-bottom: 1px;
    color: black;
}

input {
    height: 25px;
    width: 8cm;
}

#button1 {
    width: 5cm;
    height: 1cm;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    background-color: rgb(102, 102, 102);
}

#redirector{
    background: none; 
    border: none; 
    cursor: pointer; 
    color: blue; 
    margin-top: 1cm;
}